.menu-dialog {
  box-sizing: border-box;
  height: 100%;
}

.menu-dialog > .mat-dialog-title {
  position: absolute;
  margin: 0;
  top: 14px;
  left: 60px;
  color: #fff;
}

.menu-dialog > .mat-dialog-content {
  height: calc(100% - 50px);
  margin-top: 50px;
  max-height: calc(100% - 50px);
  box-sizing: border-box;
  padding: 0 40px;
  color: #fff;
}

.menu-dialog > .mat-dialog-actions {
  height: 0px;
}

.close-btn, .refresh-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #fff;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 16px;
}

.menu, .about, .rank {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 24px;
  text-align: center;
}

.menu-btn-wrap {
  background-image: linear-gradient(135deg, #F2ECB6, #D1A868, #A96F44);
  height: 64px;
  width: 200px;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 2px 3px rgb(0 0 0 / 18%);
}

.menu-btn-wrap:not(:first-of-type) {
  margin-top: 40px;
}

.menu-btn {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  color: #EFD182;
  background-color: #23221F;
  font-weight: 900;
  font-size: 20px;

  svg {
    position: absolute;
    top: 0;
    left: 18px;
    height: 54px;
  }
}

.member-info {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 26px;
}

.board-card {
  position: relative;
  border-radius: 4px;
  background-color: #23221F;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  .user-point::before {
    content: url('~/assets/images/coin-white.png');
    position: relative;
    top: 3px;
    right: 10px;
    line-height: 24px;
    vertical-align: middle;
  }
}

.rank-1, .rank-2, .rank-3 {
  color: #000;
  .user-point::before {
    content: url('~/assets/images/coin-black.png');
  }
}

.rank-1 {
  background: linear-gradient(135deg, #EFD182, #C4A34A) !important;
}

.rank-2 {
  background: linear-gradient(135deg, #D8D7CD, #EBE9E3) !important;
}

.rank-3 {
  background: linear-gradient(135deg, #F4A66D, #F8B17A) !important;
}

.user-rank {
  width: 40px;
  font-weight: 700;
}

.user-point {
  position: relative;
  min-width: 75px;
  text-align: right;

  > span {
    line-height: 24px;
    vertical-align: middle;
  }
}
