<div class="toolbar" role="banner">
  <a mat-menu-item href="/ChangingCasino/#/main">2022 尾牙</a>
  <div class="spacer"></div>
  <button mat-icon-button (click)="openMenuDialog()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4">
      <path id="ic_more_horiz" d="M6,10a2,2,0,1,0,2,2A2.006,2.006,0,0,0,6,10Zm12,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Z" transform="translate(-4 -10)" fill="#fff"/>
    </svg>
  </button>
</div>

<div class="content" role="main" *ngIf="(apiService.remainingTime$ | async) as time">
  <app-profile-card></app-profile-card>

  <div class="game-btn-row content-padding" *ngIf="time === 'START'">
    <!-- Question -->
    <div class="game-btn">
      <div class="btn-wrap" [ngClass]="{'active': isActive(GAME.QUIZ)}"><button mat-icon-button [routerLink]="GAME.QUIZ" routerLinkActive="active" type="button">二位元</button></div>
    </div>
    <!-- Mission -->
    <div class="game-btn">
      <div class="btn-wrap" [ngClass]="{'active': isActive(GAME.MISSION)}"><button mat-icon-button [routerLink]="GAME.MISSION" routerLinkActive="active" type="button">任務</button></div>
    </div>
    <!-- Betting -->
    <div class="game-btn">
      <div class="btn-wrap" [ngClass]="{'active': isActive(GAME.STAKE)}"><button mat-icon-button [routerLink]="GAME.STAKE" routerLinkActive="active" type="button">下注</button></div>
    </div>
  </div>

  <div [@fadeAnimation]="router.url" *ngIf="time === 'START'">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="align-center content-padding" *ngIf="!(time === 'START')">
    <p>Coming Soon</p>
    <p>距離尾牙還有 {{time}}</p>
  </div>

  <button mat-fab type="button" class="help-btn" (click)="openGameRulesDialog()" [ngClass]="{'transparent': (isActive(GAME.QUIZ) || isActive(GAME.MISSION) || isActive(GAME.STAKE))}" *ngIf="time === 'START'">
    <svg xmlns="http://www.w3.org/2000/svg" width="7.312" height="18.1" viewBox="0 0 7.312 18.1">
      <g id="Group_82" data-name="Group 82" transform="translate(-2764.678 -7979.493)">
        <path id="Path_41" data-name="Path 41" d="M2765.278,7984.493h4.9v9.369h1.21v1.863h-6.112v-1.863h1.226v-7.287l-1.226-.294Z" transform="translate(0 1.268)" fill="#efd182" stroke="#fff" stroke-width="1.2"/>
        <g id="Ellipse_29" data-name="Ellipse 29" transform="translate(2766.084 7979.493)" fill="#efd182" stroke="#fff" stroke-width="1.2">
          <circle cx="2.25" cy="2.25" r="2.25" stroke="none"/>
          <circle cx="2.25" cy="2.25" r="1.65" fill="none"/>
        </g>
      </g>
    </svg>
  </button>
</div>
