.help-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-image: url('~/assets/images/Coin@2x.png');
  background-repeat: no-repeat;
  background-size: 72px;
  background-position: center;
  background-color: #fff;

  font-weight: 900;
  font-family: monospace;
  font-size: 20px;
}

.transparent {
  display: none;
  opacity: 0;
}
