<div class="content-padding" [ngSwitch]="apiService.mGameStatus$ | async">
  <ng-template #missionInfo let-list let-status="status">
    <p *ngIf="list">{{status === STATUS.STOP ? '任務停止上傳！' : ''}}你總共完成了 {{getComplete(list)}} 個任務，成功 {{getSuccess(list)}} 個，失敗 {{getFail(list)}} 個，審核中 {{getPending(list)}} 個，獲得 {{getTotalWin(list)}} 籌碼。</p>
  </ng-template>
  <div *ngSwitchCase="STATUS.START">
    <ng-container *ngTemplateOutlet="missionInfo; context: {$implicit: missionList, status: STATUS.START}"></ng-container>
    <div *ngFor="let mission of missionList" style="margin-top: 10px;" [@flyInOut]="'in'">
      <app-mission-card [mission]="mission" (updateMission)="updateMission($event)"></app-mission-card>
    </div>
  </div>
  <div *ngSwitchCase="STATUS.STOP">
    <ng-container *ngTemplateOutlet="missionInfo; context: {$implicit: missionList, status: STATUS.STOP}"></ng-container>
    <div *ngFor="let mission of missionList" style="margin-top: 10px;" [@flyInOut]="'in'">
      <app-mission-card [mission]="mission" [finished]="true" (updateMission)="updateMission($event)"></app-mission-card>
    </div>
  </div>
  <div *ngSwitchCase="STATUS.ERROR" class="align-center">
    <p>發生錯誤！</p>
  </div>
  <mat-spinner [diameter]="40" *ngSwitchDefault></mat-spinner>
</div>


