:host html {
  cursor: pointer;
}

.home {
  display: table;
  margin: auto;
  box-sizing: border-box;
  padding-top: 150px;
  min-height: 100vh;
}

.title {
  font-size: 28px;
  text-align: center;
}

.glowing-text {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #261102, 0 0 40px #261102;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #EFD182, 0 0 40px #EFD182;
  }
}
