<div class="rules-dialog">
  <div mat-dialog-content style="color: #fff">
    <div class="rules-info">
      <h3>歡迎來到全景娛樂城！</h3>

      <div>下午的賭場僅接受籌碼下注，不支援課金。</div>
      <div>
        有兩種獲得籌碼的方式，分別是<u>二位元</u>與<u>不可能的任務</u>。
      </div>
      <div>在中午 12:00 前盡您所能地獲得籌碼吧！</div>
      <br/>

      <u>二位元，少數決才是贏家</u>
      <div>
        <ul>
          <li>共有 10 題是非題，一定要回答到最後您才算回答完成！</li>
          <li>若您是少數的那方就會贏得籌碼！</li>
          <li>您可以選擇跳過不答，但這樣也就代表您不會有贏得該題籌碼的機會。</li>
          <li>與您的同仁們展開一場智力對決吧！</li>
        </ul>
      </div>

      <u>不可能的任務</u>
      <div>
        <ul>
          <li>透過完成任務內容來贏得籌碼。</li>
          <li>圖片相關的題目都會經過工作人員審核，審核通過才會發放籌碼！</li>
          <li>所有任務僅能完成一次，請務必在按下上傳 / 送出按鈕前確認您的答案。</li>
          <li>
            有關任務的 Icon 圖示說明：<br/>
            <div>
              <div class="inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
                  <path id="ic_flag" d="M14.4,6,14,4H5V21H7V14h5.6l.4,2h7V6Z" transform="translate(-5 -4)" fill="#efd182"/>
                </svg>
              </div>
              <span>表示任務待完成</span>
            </div>
            <div>
              <div class="inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.59" height="13.41" viewBox="0 0 17.59 13.41">
                  <path id="ic_check" d="M9,16.17,4.83,12,3.41,13.41,9,19,21,7,19.59,5.59Z" transform="translate(-3.41 -5.59)" fill="#29e26d"/>
                </svg>
              </div>
              <span>表示任務完成並成功</span>
            </div>
            <div>
              <div class="inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <path id="ic_close" d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z" transform="translate(-5 -5)" fill="#ef252b"/>
                </svg>
              </div>
              <span>表示任務完成但失敗</span>
            </div>
            <div>
              <div class="inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="21" viewBox="0 0 18 21">
                  <path id="ic_timer" d="M15,1H9V3h6ZM11,14h2V8H11Zm8.03-6.61,1.42-1.42a11.048,11.048,0,0,0-1.41-1.41L17.62,5.98A9,9,0,1,0,12,22a9.148,9.148,0,0,0,6.28-2.55A8.808,8.808,0,0,0,21,13a8.963,8.963,0,0,0-1.97-5.61ZM12,20a7,7,0,1,1,7-7A6.995,6.995,0,0,1,12,20Z" transform="translate(-3 -1)" fill="#fff"/>
                </svg>
              </div>
              <span>表示任務審核中</span>
            </div>
          </li>
          <li>平日的戰友是今日的對手，完成任務後請勿透漏給其他人。</li>
        </ul>
      </div>
      <i class="special-text">「不可能的任務」，因 Calvin、Christy、Doreen、Eileen、Ethan、Evan、Martin、Mike、Slash、York、Ziv 等 11 名同仁為尾牙小組人員，已事先知道題目，無法參加此遊戲，考量工作人員辛勞與遊戲公平性，由系統主動配給此遊戲「前 50% 參與者獲得籌碼的平均值」。</i><br/>

      <u>下注</u>
      <div>
        <ul>
          <li>下注將於 15:00 開放！</li>
          <li>讓您有機會將手上的籌碼翻倍再翻倍。</li>
          <li>前十名將有高額的獎金！！！</li>
        </ul>
      </div>

      <button mat-stroked-button color="primary" mat-dialog-close>關閉</button>
    </div>
  </div>
</div>
