<div class="rules-dialog">
  <!-- <h2 mat-dialog-title>遊戲說明</h2> -->
  <div mat-dialog-content style="color: #fff">
    <div class="rules-info">
      <h3>歡迎來到全景娛樂城！</h3>

      <div>我們設計了兩個小遊戲：分別是<u>二位元遊戲</u>、<u>任務遊戲</u>。<br/>
      透過這兩個遊戲贏得的籌碼會在賭場中下注所使用<br/>
      在前往賭場之前盡您所能地在這兩個遊戲中獲得越多籌碼吧！<br/><br/></div>

      <u>二位元</u>
      <div>
        <ul>
          <li>總共有10個問題，請於遊戲結束前將所有問題回答完成，若您是少數的那方就會贏得籌碼！</li>
          <li>一定要回答到最後您才算回答完成並有獲得籌碼的機會！</li>
          <li>這中間您可以選擇跳過不回答，但這樣也就代表您不會有贏得該題籌碼的機會</li>
          <li>與您的同仁們展開一場智力對決吧！</li>
        </ul>
      </div>

      <u>任務</u>
      <div>
        <ul>
          <li>完成我們設計的任務來贏得籌碼</li>
          <li>圖片相關的題目都會經過工作人員審核，審核通過您才會獲得該任務的獎勵！</li>
          <li>若您答對了題目盡可能不要分享正確答案給別人，讓其他人也能體驗遊戲吧</li>
          <li>搭配我們的任務來遊玩松山文創園區吧！</li>
        </ul>
      </div>

      <u>下注</u>
      <div>
        <ul>
          <li>下注將於12.00開放！</li>
          <li>讓您有機會將手上的籌碼翻倍再翻倍</li>
        </ul>
      </div>

      <button mat-stroked-button color="primary" mat-dialog-close>開始遊戲！</button>
    </div>
  </div>
</div>
