.rules-dialog {
  height: 100%;
}

.rules-dialog > .mat-dialog-title {
  height: 0px;
}

.rules-dialog > .mat-dialog-content {
  box-sizing: border-box;
  padding: 0 40px;
  color: #fff;
  height: 100%;
  max-height: 100%;
}

.rules-dialog > .mat-dialog-actions {
  height: 0px;
}

.rules-info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  text-align: left;
  div {
    width: 100%;
    max-width: 360px;
  }
  ul {
    list-style-type: number;
    margin-left: -20px;
  }
  u {
    color: #EFD182;
  }
}

.inline {
  display: inline-block;
  width: 24px !important;
  vertical-align: middle;
}

.special-text {
  font-size: 10px;
  text-align: center;
  color: #d7d7d7;
}

.mat-stroked-button {
  border-color: currentColor;
}

