<div class="rules-dialog">
  <!-- <h2 mat-dialog-title>遊戲說明</h2> -->
  <div mat-dialog-content style="color: #fff">
    <div class="rules-info">
      <h3>歡迎來到全景娛樂城！</h3>

      <div>中午的賭場僅接受籌碼下注，不支援課金。</div>
      <div>
        有兩種獲得籌碼的方式，分別是<u>二位元</u>與<u>不可能的任務</u>。
      </div>
      <div>在前往賭場之前盡您所能地獲得籌碼吧！</div>
      <br/>

      <u>二位元，少數決才是贏家</u>
      <div>
        <ul>
          <li>共有10題是非題，請於中午12:00前完成所有內容。</li>
          <li>若您是少數的那方就會贏得籌碼！</li>
          <li>一定要回答到最後您才算回答完成！</li>
          <li>您可以選擇跳過不答，但這樣也就代表您不會有贏得該題籌碼的機會。</li>
          <li>與您的同仁們展開一場智力對決吧！</li>
        </ul>
      </div>

      <u>不可能的任務</u>
      <div>
        <ul>
          <li>透過完成任務內容來贏得籌碼。</li>
          <li>圖片相關的題目都會經過工作人員審核，審核通過才會發放籌碼！</li>
          <li>平日的戰友是今日的對手，完成任務後請勿透漏給其他人。</li>
          <li>搭配我們的任務來遊玩松山文創園區吧！</li>
        </ul>
      </div>

      <u>下注</u>
      <div>
        <ul>
          <li>下注將於12:00開放！</li>
          <li>讓您有機會將手上的籌碼翻倍再翻倍。</li>
          <li>前三名將有高額的獎金！！！</li>
        </ul>
      </div>

      <button mat-stroked-button color="primary" mat-dialog-close>開始遊戲！</button>
    </div>
  </div>
</div>
