.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  overflow: hidden;

  h1, h2 {
    margin: 0;
  }

  .word-wrap {
    box-sizing: border-box;
    padding: 5px;
  }

  a {
    color: #fff;
  }

  a:hover, a:active, a:focus {
    color: #EFD182;
  }

  a:visited {
    color: #fff;
  }
}
