.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    margin: 0;
  }

  a {
    margin-top: 10px;
    color: #fff;
  }

  a:hover, a:active, a:focus {
    color: #EFD182;
  }

  a:visited {
    color: #fff;
  }
}
