::ng-deep .input-field .mat-form-field-infix {
  padding: 0px !important;
  border-top: none !important;
}

.stake-form {
  width: 100%;
  padding: 10px 0px;

  .stake-label {
    display: block;
    text-align: left;
    color: #efd082;
    font-size: 16px;
  }
}

.stake-wrap {
  padding: 10px 0px 25.5px 0px;
}

.input-field {
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0px;

  .mat-input-element {
    position: relative;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    width: calc(100% - 20px);
    height: 36px;
    padding: 0px 10px;
    font-size: 14px;
  }
}

.stake-btn {
  border-color: currentColor;
  border-radius: 40px;
  width: 200px;
  height: 55px;
  font-size: 18px;
}

.stake-hist-btn {
  margin-top: 16px;
  border-color: #ccc;
  color: #ccc;
  border-radius: 40px;
  width: 200px;
  height: 55px;
  font-size: 18px;
}

.stake-card {
  position: relative;
  font-size: 16px;
}

.user-name {
  width: 100px;
  text-align: left;
}

.user-point {
  position: relative;
  min-width: 55px;
  text-align: right;

  > span {
    line-height: 16px;
  }
}

.user-point::before {
  content: url('~/assets/images/coin-gold.png');
  position: relative;
  right: 10px;
  line-height: 16px;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.stake-status-info {
  margin-bottom: 25.5px;
}

.blur {
  opacity: 0.3;
}

.winner::after {
  content: '👑';
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 20px;
  transform: rotate(25deg);
}
